{% extends "base.html" %}

{% block breadcrumbs %}
    <div class="section">People</div>
    <div class="divider"> / </div>
    <a href="{{ url_for('Teacher.List') }}" class="section">Teachers</a>
    <div class="divider"> / </div>

    <div class="active section">{{ data.teacher.getFirstName() }} {{ data.teacher.getLastName() }} </div>
{% endblock %}

{% block pageheader %}{{ data.teacher.getFirstName() }} {{ data.teacher.getLastName() }}{% endblock %}


{% block main %}
    <!-- Section Header-->
    <h2 class="ui section header">{{ data.teacher.getFirstName() }}</h2>

    <div class="right aligned text">
        <button class="ui primary button" onclick="(() => { OpenModal('update_teacher'); })()">Edit Teacher</button>
        <button class="ui button" onclick="(()=> { DeleteRequest('{{ url_for('Teacher.Delete', id = data.teacher.getId()) }}', '{{ url_for('Teacher.List') }}') })()">Delete Teacher</button>        
    </div><!-- .right.aligned.text -->

{% endblock %}

{% block modals %}

<div class="ui tiny modal" data-modal="update_teacher">
    <div class="header">Update Teacher</div>
    <div class="content">

        <form class="ui form" data-form="update_teacher" data-form-url="{{ url_for('Teacher.Update', id=data.teacher.getId()) }}">
            
            <div class="field">
                <label>
                    <span data-tooltip="Update the first name for the new teacher." data-inverted="" data-position="right center">
                        First Name 
                        <i class="question circle icon"></i>
                    </span>
                </label>
                <input type="text" placeholder="John" name="first_name" value="{{ data.teacher.getFirstName() }}">
            </div>
            <div class="field">
                <label>
                    <span data-tooltip="Update the last name for the new teacher." data-inverted="" data-position="right center">
                        Last Name 
                        <i class="question circle icon"></i>
                    </span>
                </label>
                <input type="text" placeholder="Smith" name="last_name" value="{{ data.teacher.getLastName() }}">
            </div>
            <div class="field">
                <label>
                    <span data-tooltip="Update the email for the new teacher." data-inverted="" data-position="right center">
                        Email 
                        <i class="question circle icon"></i>
                    </span>
                </label>
                <input type="email" placeholder="JohnSmith@example.com" name="email" value="{{ data.teacher.getEmail() }}">
            </div>
            <div class="field">
                <label>
                    <span data-tooltip="Update the mobile phone number for the teacher." data-inverted="" data-position="right center">
                        Mobile Number 
                        <i class="question circle icon"></i>
                    </span>
                </label>
                <input type="text" placeholder="07832587996" name="mobile_phone" value="{{ data.teacher.getMobile() }}">
            </div>
            <div class="field">
                <label>
                    <span data-tooltip="Update the password number for the teacher." data-inverted="" data-position="right center">
                        Password
                        <i class="question circle icon"></i>
                    </span>
                </label>
                <input type="password" placeholder="password" name="password">
            </div>

        </form>

    </div>
        
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <button type="button" class="ui approve positive button" onclick="(() => { SubmitForm('update_teacher') })()">Update</button>
    </div>
</div><!-- .ui.mini.modal#UpdateCampusModal -->


{% endblock %}