{% extends "base_auth.html" %}

{% block breadcrumbs %}
    <div class="section">Authentication</div>
    <div class="divider"> / </div>

    <div class="active section">Password Reset</div>
{% endblock %}

{% block pageheader %}Password Reset{% endblock %}

{% block main %}
    <a href="{{ url_for('Auth.Login') }}" class="ui button">Return to Login</a><br><br><br>

    <form method="POST" action="" class="ui form">
        <div class="field">
            <label>Email address</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="email" placeholder="Email address" name="email">
            </div>
        </div><!-- .field -->

        <button type="submit" class="ui primary button">Request Password Reset</button>
    </form>
{% endblock %}